<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
        {% for post in posts %}
<tr><td>{{ post.title }}</td><td>{{ post.text }}</td><td >{{ post.data }}</td></tr>
        {% endfor %}
</table>


<article>
            <div class="post">
                <div class="post-img">
                    <img src="{% static "posts/img/1280ba71f77e.jpg" %}" alt="" class="photo">
                </div>
                <div class="post-text">
                <h2 class="post-title"><a href="#" class='post-title'>Title - Заголовок</a></h2>
            <span class='pubdate'>12.01.2020</span>

            <blockquote><p>
                Здесь будет находится ваш текст, и его может быть скольео угодно!!
                Здесь будет находится ваш текст, и его может быть скольео угодно!!
                Здесь будет находится ваш текст, и его может быть скольео угодно!!
                Здесь будет находится ваш текст, и его может быть скольео угодно!!
                Здесь будет находится ваш текст, и его может быть скольео угодно!!
                Здесь будет находится ваш текст, и его может быть скольео угодно!!
                Здесь будет находится ваш текст, и его может быть скольео угодно!!
                Здесь будет находится ваш текст, и его может быть скольео угодно!!
                Здесь будет находится ваш текст, и его может быть скольео угодно!!
                Здесь будет находится ваш текст, и его может быть скольео угодно!!
                Здесь будет находится ваш текст, и его может быть скольео угодно!!
                Здесь будет находится ваш текст, и его может быть скольео угодно!!
                Здесь будет находится ваш текст, и его может быть скольео угодно!!
                Здесь будет находится ваш текст, и его может быть скольео угодно!!
                Здесь будет находится ваш текст, и его может быть скольео угодно!!
                Здесь будет находится ваш текст, и его может быть скольео угодно!!
                Здесь будет находится ваш текст, и его может быть скольео угодно!!

                </p></blockquote>
                <a href="#" class="see-more">Подробнее</a>
            </div>
            </div>
        </article>



</body>
</html>